* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.dimmer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  transition: opacity 2s ease;
}

.hidden {
  opacity: 0;
  transform: scale(0.8);
}

.fully_hidden {
  display: none;
}

button {
  cursor: pointer;
}

#h1 {
  margin-bottom: 200px;
  font-size: 60px;
  color: white;
  font-family: "Radley", serif;
  font-weight: 400;
  text-align: center;
}

.time-lost-counter {
  color: white;
  font-size: 100px;
  margin-bottom: 400px;
  font-family: "Momo Signature", cursive;
  font-style: normal;
  text-shadow: 0px 0px 10px white;
}

label {
  color: white;
  font-family: "Radley", serif;
  margin-bottom: 50px;
  font-size: 40px;
}

.register-again {
  color: white;
  margin-bottom: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 70px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: none;
  border-bottom: 3px solid rgb(27, 87, 15);
  font-family: "Radley", serif;
  font-size: 30px;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.lost-time_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    transform: scale(1.5);
}

.lost-time_form input {
    height: 50px;
    width: 400px;
    font-size: 25px;
}

.lost-time_form button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: none;
}

.lost-time_form input, .lost-time_form button {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  color: white;
  border: 1px solid rgba(35, 35, 35, 0);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.lost-time_form input {
  transition: border-bottom, 0.1s ease;
  margin-right: 5px;
  font-size: 20px;
}

.lost-time_form input:focus {
  outline: none;
  border-bottom: 1px solid white;
}



.popup-register {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  width: 400px;
  height: 550px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2);
  flex-direction: column;
  text-align: center;
  z-index: 10;
  transition: opacity 0.5s ease, transform 0.3s ease-in-out;
}

.popup-register form {
  display: flex;
  flex-direction: column;
}

.popup-register input {
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
}

.popup-register button {
  height: 30px;
  font-size: 15px;
}

.popup-register h1 {
  display: flex;
  font-size: 25px;
  margin: 15px;
  margin-top: -40px;
  margin-bottom: 60px;
}

.popup-dimmer {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}

.flashes {
  position: absolute;
  z-index: 20;
  background-color: rgb(25, 25, 25);
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 90%;
  height: fit-content;
  color: white;
  font-size: 30px;
  transition: opacity 0.5s ease;
}

.flashes p {
  padding: 10px;
}

.timer-line {
  height: 2px;
  width: 100%;
  background-color: aquamarine;
}
