<!DOCTYPE html>
<html>
  <head>
    <title>Lost time overall...</title>
    <link rel="stylesheet" href="../static/style_mob.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap" rel="stylesheet">
</head>
<body>
    <img src="../static/images/book-icon.jpg" onclick="lossesImgClick()" class="saved-losses">
    <div class="popup-losses">
      <h2 class="popup-losses_name">Your time losses book</h2>
      <div class="popup-losses_content">
        <!-- JavaScript will load this template -->
         <section class="losses-day hidden">
            <span class="date">DD:MM:YYYY</span>
            <p class="lost-in-day">hh:mm.ss</p>
            <div class="dropdown-arrow_container">
              <span class="dropdown-arrow">&#9660;</span>
            </div>
            <div class="more-info">
              <div class="loss_some-line"></div> <!-- placeholder -->
              <div class="more-info_pair fully_hidden">
                <span class="time-of-day">HH:mm -- </span>&nbsp;<p class="popup-losses_lost-time">__:__.__</p> 
              </div>
              <!-- JS will copy it if you inserted many times in one day -->
            </div>
         </section>
      </div>
    </div>

    <button class="register-again">Register or log in again</button>

    {% if from_date %}
      <h1 id="h1">Your lost time from {{ from_date }}.</h1>
    {% else %}
      <h1 id="h1">Your lost time from the moment you've registered.</h1>
    {% endif %}
    <div class="time-lost-counter">{{ time }}</div>
    <label for="h1">How much time did you lose today in minutes?</label>
    <form action="/" method="post" class="lost-time_form">
      <input type="number" name="time_lost" required>
      <button type="submit">Submit</button>
    </form>

    <div class="popup-register hidden">
      <h1>Seems like you don't have an account. Create a new one.</h1>
      <form method="post" action="/auth/register">
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Register</button>
      </form>
    </div>
    <div class="popup-dimmer fully_hidden"></div>
    
    <div class="dimmer hidden"></div>
    {% with messages=get_flashed_messages() %}
      {% if messages %}
        <div class="flashes hidden">
          <div class="timer-line"></div>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <script src="../static/main.js"></script>
    <script src="../static/main_mob.js"></script>
  </body>
</html>
